html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

/* adjust typography defaults */
body {
  margin: 1rem;
  line-height: 1.5;
  background-color: black; /* controls backdrop color */

  --color-primary: #009579;
  --color-primary-dark: #007f67;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 4px;
}

h1 {
  font-family: inter, arial, sans-serif;
  font-size: 50px;
  color: #90ede7; /* controls color and font of heading/game name */
  text-align: center;
}

p {
  font-family: inter, arial, sans-serif;
  text-align: center;
  color: white;
}

h2 {
  font-family: inter, arial, sans-serif;
  color: white; /* controls color and font of heading/game name */
  font-size: 20px;
}

.login__button {
  height: 50px;
  width: 280px;
  font-weight: bold;
  font-size: 24px;
  color: black;
  border: none;
  outline: none;
  background: #6fef7b;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.signup__button {
  height: 50px;
  width: 210px;
  font-weight: bold;
  font-size: 24px;
  color: black;
  border: none;
  outline: none;
  background: #6fef7b;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.login__button:hover {
  background: #44b64f;
}
.signup__button:hover {
  background: #44b64f;
}

.form__input {
  background: black;
  height: 20px;
  width: 400px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-bottom: 2px solid;
  border-color: white;
}

.input-instruction {
  padding: 30px 10px 20px 10px;
  position: relative;
  left: 42%;
  transform: translate(-50%, -50%);
}

.forgot-pass {
  position: relative;
  left: 57%;
  transform: translate(-50%, -50%);
}
