body, html {
  margin:0;
  padding:0;
  height: 100%;
  width:100%;
  min-width:700px;
}

h1 {
  font-family: futura, sans-serif;
  font-size: 50px;
  color: #90ede7; 
  position: absolute;
  width: 50%;
  text-align: center;
}

p {
  font-family: futura, sans-serif;
  text-align: center;
  color: white;
}

h2 {
  font-family: futura, sans-serif;
  color: white; 
  font-size: 20px;
}

#rightdiv {
  float:right;
  background-color:grey;
}

#leftdiv {
  float:left;
  background-color:black;
}

#leftdiv1 {
  float:left;
  background-color:black;
}

.splitdiv{
  height:100%;
  width:50%;
}

.loginpage {
  position: absolute;
  width: 100%;
}

.preview {
  position: absolute;
  width: 100%;
}

.login__button {
  height: 50px;
  width: 280px;
  font-weight: bold;
  font-size: 24px;
  color: black;
  border: none;
  outline: none;
  background: #6fef7b;
  margin: 0;
  position: absolute;
  bottom: 30%;
  left: 25%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.signup__button {
  height: 50px;
  width: 210px;
  font-weight: bold;
  font-size: 24px;
  color: black;
  border: none;
  outline: none;
  background: #6fef7b;
  position: absolute;
  left: 25%;
  bottom: 20%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.login__button:hover {
  background: #44b64f;
}
.signup__button:hover {
  background: #44b64f;
}

.form__input {
  background: black;
  color: white;
  height: 20px;
  width: 32%;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  border: none;
  border-bottom: 2px solid;
  border-color: white;
}

.form__input1 {
  background: black;
  color: white;
  height: 20px;
  width: 32%;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  border: none;
  border-bottom: 2px solid;
  border-color: white;
}

.input-instruction {
  position: absolute;
  left: 9%;
  top: 32%;
}

.input-instruction1 {
  position: absolute;
  left: 9%;
  top: 42%;
}

.forgot-pass {
  position: absolute;
  bottom: 40%;
  left: 28%;
}
.forgot-pass:hover {
  color: lightblue;
}

.form__link{
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}
