html {
  box-sizing: border-box;
  font-size: 16px;
  width: 1024px;
  height: 768px;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  line-height: 1.5;
  background-color: black; /* controls backdrop color */

  --color-primary: #009579;
  --color-primary-dark: #007f67;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 4px;
}

h1 {
  font-family: inter, arial, sans-serif;
  font-size: 50px;
  color: #90ede7; 
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

p {
  font-family: inter, arial, sans-serif;
  text-align: center;
  color: white;
}

h2 {
  font-family: inter, arial, sans-serif;
  color: white; 
  font-size: 20px;
}

.login__button {
  height: 50px;
  width: 280px;
  font-weight: bold;
  font-size: 24px;
  color: black;
  border: none;
  outline: none;
  background: #6fef7b;
  margin: 0;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.signup__button {
  height: 50px;
  width: 210px;
  font-weight: bold;
  font-size: 24px;
  color: black;
  border: none;
  outline: none;
  background: #6fef7b;
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.login__button:hover {
  background: #44b64f;
}
.signup__button:hover {
  background: #44b64f;
}

.form__input {
  background: black;
  color: white;
  height: 20px;
  width: 32%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-bottom: 2px solid;
  border-color: white;
}

.form__input1 {
  background: black;
  color: white;
  height: 20px;
  width: 32%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-bottom: 2px solid;
  border-color: white;
}

.input-instruction {
  position: absolute;
  left: 34%;
  top: 32%;
}

.input-instruction1 {
  position: absolute;
  left: 34%;
  top: 42%;
}

.forgot-pass {
  position: absolute;
  bottom: 40%;
  left: 56%;
}
.forgot-pass:hover {
  color: lightblue;
}
